.main-nav {
	background-color: #283645;


	&__list {
		list-style: none;
		padding: 0;
	}


	&__item {
		border-bottom: 1px solid #000;
		border-top: 1px solid #485461;
	}


	&__link {
		display: block;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
	}
}