.page__header {
	position: relative;
	top: 0;
	z-index: 1000;
	width: 100%;
	padding: 20px 0;
	color: #fff;
	background-color: rgba(0,0,0,.2);
}


 .header-section {

 }
.header-logo {
	float: left;
	width: 74px;
	height: 24px;
	fill: #ffffff;
}

